.profile {
  margin: 5rem auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 40rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #f4f0fa;
}

.username {
  padding: 0 8px;
  border-radius: 6px;
  font-weight: 700;
  letter-spacing: 0.3px;
}